<!-- template for a document list item -->
<script id="doc-li-template" type="text/x-handlebars-template">
  <li data-doc-id="{{id}}">
    <a style="float:left;clear:both" onclick="docs_manager.openDoc('{{id}}'); $(this).closest('li').addClass('active').siblings('li').removeClass('active');" href="javascript:void(0);">{{name}}</a>
    <div class="btn-group pull-right">
      {{#if readAccess}}
      <button disabled class="btn">Read</button>
      {{else}}
      <button onclick="docs_manager.reqReadAccess('{{id}}');" class="btn">Read</button>
      {{/if}}
      {{#if writeAccess}}
      <button disabled onclick="docs_manager.reqWriteAccess('{{id}}');" class="btn">Write</button>
      {{else}}
      <button onclick="docs_manager.reqWriteAccess('{{id}}');" class="btn">Write</button>
      {{/if}}
      {{#if execAccess}}
      <button disabled onclick="docs_manager.reqExecAccess('{{id}}');" class="btn">Exec</button> 
      {{else}}
      <button onclick="docs_manager.reqExecAccess('{{id}}');" class="btn">Exec</button>
      {{/if}}
      {{#if canShare}}
      <button class="btn" onclick="docs_manager.openShareDoc('{{id}}', '{{name}}');;">Share</button>
      {{/if}}
    </div>
      <button onclick="docs_manager.deleteDoc('{{id}}', '{{name}}');" style="display:none;" class="close">x</button>
  </li>
</script>

<!-- template for errors -->
<script id="errors-template" type="text/x-handlebars-template">
  <div class="alert alert-error">
    <button class="close" data-dismiss="alert">x</button>
    {{#listalert errors}}{{/listalert}}
  </div>
</script>

<!-- template for infos -->
<script id="infos-template" type="text/x-handlebars-template">
  <div class="alert alert-info">
    <button class="close" data-dismiss="alert">x</button>
    {{#listalert infos}}{{/listalert}}
  </div>
</script>

<!-- modal box for displaying messages for a user -->
<script id="messages-for-user" type="text/x-handlebars-template">
  <div class="modal hide" id="messages-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">x</button>
      <h3>My Messages</h3>
    </div>
    <div class="modal-body">
      <div class="message-box">
	{{#displaymessages messages}}
	{{#if isRequestAccess}} <!-- requestAccess-->
	<div class="request-access-box">
          <b>{{fromUser}}</b> is requesting 
	  {{#if readAccess}}Read{{#if eitherWriteOrExecAccess }}, {{/if}}{{/if}} 
	  {{#if writeAccess}}Write{{#if execAccess}}, {{/if}}{{/if}}
	  {{#if execAccess}}Exec{{/if}}
	  <b>Access</b> to <strong>{{documentName}}</strong>
	  <form onsubmit="return false;">
	    <button onclick="user_messages.grantAccess('{{fromUser}}','{{documentId}}', '{{documentName}}', {{access}}); $(this).closest('li').remove();" class="btn btn-primary">Grant</button>
	    <button onclick="user_messages.declineAccess('{{fromUser}}', '{{documentId}}', {{access}}); $(this).closest('li').remove();" class="btn btn-danger">Decline</button>
	  </form>
	</div>
	{{/if}}      
	{{#if isShareAccess}} <!-- shareAccess -->
	<div class="share-access-box">
	  <b>{{fromUser}}</b> wants to give you
	  {{#if readAccess}}Read{{#if eitherWriteOrExecAccess }}, {{/if}}{{/if}} 
	  {{#if writeAccess}}Write{{#if execAccess}}, {{/if}}{{/if}}
	  {{#if execAccess}}Exec{{/if}}
	  <b>Access</b> to <strong>{{documentName}}</strong>
	  <form onsubmit="return false;">
	    <button onclick="user_messages.acceptAccess('{{fromUser}}', '{{documentId}}', '{{documentName}}', {{access}}); $(this).closest('li').remove();" class="btn btn-primary">Accept</button>
	    <button onclick="user_messages.declineAccess('{{fromUser}}', '{{documentId}}', {{access}});$(this).closest('li').remove();" class="btn btn-danger">Decline</button>
	  </form>
	</div>
	{{/if}}
	{{/displaymessages}}
      </div>
    </div>
  </div>
</script>

<!-- modal box for sharing documents among users -->
<script id="share-document-modal" type="text/x-handlebars-template">
  <div class="modal hide" id="share-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">x</button>
      <h3>Share {{docName}}</h3>
    </div>
    <div class="modal-body">
      <form class="form-vertical" onsubmit="return false;">
	<strong>Grant</strong>
	<input type="text" name="userToShare" value="" autocomplete="off" placeholder="Enter Username" data-provide="typeahead" data-purpose="usernames" data-items="4"/>
	<input type="hidden" name="docName" value="{{docName}}"/>
	<input type="hidden" name="docId" value="{{docId}}"/>

	<input type="hidden" name="read-access" value="false"/>
	<input type="hidden" name="write-access" value="false"/>
	<input type="hidden" name="exec-access" value="false"/>
	 
	<div class="btn-group">
	  <button class="btn" onclick="var box=$(this).closest('form').find('[name=read-access]');box.val() == 'false' ? box.val('true') : box.val('false') ; $(this).toggleClass('btn-success');return false;">Read</button>
	  <button class="btn" onclick="var box=$(this).closest('form').find('[name=write-access]');box.val() == 'false' ? box.val('true') : box.val('false') ; $(this).toggleClass('btn-success'); return false;">Write</button>
	  <button class="btn" onclick="var box=$(this).closest('form').find('[name=exec-access]');box.val() == 'false' ? box.val('true') : box.val('false') ; $(this).toggleClass('btn-success');return false;">Exec</button>
	</div>
	<strong>Access</strong>
	to document <b>{{docName}}</b>
	<button type="submit" onclick="docs_manager.shareDoc('{{docId}}', '{{docName}}', $(this).closest('form').find('[name=userToShare]').val(), $(this).closest('form').find('[name=read-access]').val() , $(this).closest('form').find('[name=write-access]').val() , $(this).closest('form').find('[name=exec-access]').val());$('#share-modal').modal('hide');return false;" class="btn btn-primary pull-right">Share</button>
      </form>
    </div>
  </div>
 </script>
