!!! 5
html(lang="en")
	head
		title= title
		link(rel="stylesheet", href="/stylesheets/bootstrap-responsive.css")
		link(rel="stylesheet", href="/stylesheets/bootstrap.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="/stylesheets/index-specific-style.css")
		
		script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
		script(type="text/javascript", src="/javascripts/application.js")
		script(type="text/javascript", src="/javascripts/bootstrap.js")
		script(type="text/javascript", src="/javascripts/rails.js")
	body
		// - if in_session 
		div.topbar
			div.fill
				div.container
					a(class="brand", href="#")  Fly Latex
					ul.nav
						li(class="active")
							a(href="#") Home
						li
							a(href="#about") About
						li
							a(href="#contact") Contact
					form(action="users/submit", class="pull-right", method="post")
						//input(type="hidden", name="authencity_token", value=token)
						input(name="username", class="input-small", type="text", placeholder="Username") 
						input(name="password", class="input-small", type="password", placeholder="Password") 
						button(class="btn", type="submit") Sign in
		div.container
			div.content
				div.page-header
					h1
						=title 
						small
							| Sign into Fly Latex to edit latex documents in real-time
				div.row
					div.span10
						h2
							strong
								small
									a(href="#") Current Document: math101.tex
					div.span4
						h3 Documents
			footer
				p Dan and Robert 2012
