<div class="row">
  <div class="message-log-in">
    <h2> Welcome to FLY LATEX: A Real Time Editor in node-js</h2>
    <h3>You Can: </h3>
    <ul>
      <li>Edit Latex Documents in real-time with other users</li>
      <li>Share documents with other users</li>
      <li>Request access to documents created by other users</li>
      <li>Compile Latex Documents in <strong>REAL TIME</strong> Baby!</li>
    </ul>
  </div>
</div>
