.back-to-documents-listing button {
    margin-bottom: 20px;
}

.doc-meta-data {
    padding: 10px; 
    margin-top: 50px;
    float: right;
    padding-right: 0;
    color: #111;
    text-align: center;
    background-color: #888;
}

#last-saved-time-parent {
    margin-right: 20px;
}

.container.second-container {
    width: 1200px;
} 

.pdf-render {
    background-color: #EEE;
    padding: 5px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    margin-top: 10px;
    height: 700px;
    overflow: scroll;
}

#pdf-canvas {
    background: #fff;
    overflow: scroll;
    margin-top: 10px;
}

/*
style="border:1px solid black; margin-top:2px;"*/