form {
    margin-bottom: 0;
}

form.pull-right {
    margin-left: 40px;
}

.welcome-message {
    margin-top: 10px;
}

footer {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: black;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    clear:both;
}

footer p {
    text-align: center;
}

div.documents-section {
    height: 500px;
    padding: 30px;
    padding-top: 0;
    margin-bottom: 30px;
}

#editor {
    position: relative;
    top: 30px;
    width: 700px;
    height: 500px;
    margin-bottom: 50px;
}


div.documents-section form.form-inline {
    margin-right: 0;
    padding-right: 0;
}

div.modal-body div.btn-group {
    padding: 20px 0 20px 40px;
}

div.message-box {
    height: 300px;
    width: 400px;
    overflow: scroll;
    background: #efefef;
}

div.request-access-box, div.share-access-box {
    width: 350px;
    background: #dedede;
    height: 60px;
    padding: 20px;
}

div.request-access-box form button, div.share-access-box form button {
    margin: 10px;
}

#header {
    height: 30px;
    width: 700px;
    background-color: black;
    font-size: 16px;
}

#htext {
    line-height: 30px;
    vertical-align: middle;
    
    padding-left: 10px;
    color: white;
    font-family: baskerville, palatino, 'palatino linotype', georgia,serif; 
}


.save-document-link {
    margin-left: 50px;
    font-size: 18px;
    text-decoration: underline;
}