<!-- template for a document list item -->
<script id="doc-li-template" type="text/x-handlebars-template">
  <li data-doc-id="{{_id}}">
    <a onclick="docs_manager.openDoc({{_id}});" href="javascript:void(0);">{{name}}</a>
    <div class="btn-group" data-toggle="buttons-checkbox">
      {{#if readAccess}}
      <button onclick="docs_manager.reqReadAccess({{_id}});" class="btn active">R</button>
      {{else}}
      <button onclick="docs_manager.reqReadAccess({{_id}});" class="btn">R</button>
      {{/if}}
      {{#if writeAccess}}
      <button onclick="docs_manager.reqWriteAccess({{_id}});" class="btn active">W</button>
      {{else}}
      <button onclick="docs_manager.reqWriteAccess({{_id}});" class="btn">W</button>
      {{/if}}
      {{#if execAccess}}
      <button onclick="docs_manager.reqExecAccess({{_id}});" class="btn active">X</button> 
      {{else}}
      <button onclick="docs_manager.reqExecAccess({{_id}});" class="btn">X</button>
      {{/if}}
      {{#if canShare}}
      <button class="btn" onclick="docs_manager.shareDoc({{_id}});;">Share</button>
      {{/if}}
    </div>
  </li>
</script>
